@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap");
:root {
  --primary: #fff;
  --secondary: #9fa4ae;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

body {
  min-height: 100vh;
  background: linear-gradient(135deg, #2f2f30, #111214, #000);
}

@media (min-width: 1400px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1372px !important;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 100% !important;
  }
}

.inner_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.inner_nav .nav_user_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-self: flex-start;
}

.inner_nav .nav_user_info img {
  width: 28px;
  height: 28px;
  margin-right: 15px;
  border-radius: 50%;
}

.inner_nav .nav_user_info h3 {
  font-size: 18px;
  color: var(--primary);
  cursor: pointer;
  margin-bottom: 0px !important;
  opacity: 0.8;
}

.inner_nav .nav_user_info p {
  font-size: 10px;
  color: #9fa4ae;
  margin-bottom: 0px !important;
}

.inner_nav .nav_logo {
  width: 296px;
  height: 66px;
  -ms-grid-column-align: center;
      justify-self: center;
}

.inner_nav .nav-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 176px;
}

.inner_nav .nav-icons img {
  cursor: pointer;
}

.inner_nav .nav-icons .nav-message {
  position: relative;
}

.inner_nav .nav-icons .nav-message div {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  right: -7px;
  top: 17px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #fff;
  padding: 5px;
  font-size: 10px;
  line-height: 12px;
}

@media (max-width: 992px) {
  .nav_logo {
    display: none;
  }
  .security_container {
    padding: 40px 20px !important;
  }
}

main {
  margin: 0 32px 35px;
}

@media (max-width: 576px) {
  main {
    margin: 0;
  }
}

.tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 50px;
  margin-bottom: 20px;
  border-bottom: 1px solid var(--primary);
  padding-bottom: 20px;
}

.tabs .tab {
  width: 23%;
  max-width: 300px;
  height: 45px;
  border-radius: 20px;
  border: 1px solid var(--primary);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 12px;
  color: #fff;
  cursor: pointer;
}

.tabs .tab p {
  margin-bottom: 0;
}

.side_panel {
  width: 230px;
  height: auto;
  border: 1px solid var(--primary);
  border-radius: 20px;
  padding: 27px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.side_panel div {
  height: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.side_panel div svg {
  width: 20px;
  height: 20px;
}

.side_panel div a {
  margin-bottom: 0;
  color: var(--secondary) !important;
  margin-left: 14px;
}

@media (max-width: 576px) {
  .inner_nav .nav-icons {
    width: 120px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .inner_nav .nav-icons img {
    width: 20px;
  }
  .inner_nav .nav-icons img:first-child {
    margin-right: 0;
  }
  .inner_nav .nav_user_info h3 {
    font-size: 15px;
  }
  .tabs {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(100px, 170px))[2];
        grid-template-columns: repeat(2, minmax(100px, 170px));
    row-gap: 10px;
    -webkit-column-gap: 10px;
            column-gap: 10px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .tabs .tab {
    width: auto;
  }
  .side_panel {
    width: 90%;
    margin: 0 auto;
    font-size: 14px;
  }
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1440px;
  margin: 0 auto 50px;
}

.main_content_container {
  width: 763px;
  margin: 0 10px;
}

.security_container {
  border: 1px solid #fff;
  border-radius: 30px;
  padding: 40px 180px;
}

.security_container .security_form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.security_container .security_form button {
  -ms-flex-item-align: end;
      align-self: flex-end;
  width: 135px;
  height: 35px;
  border: 1px solid #fff;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  font-size: 16px;
  background-color: transparent;
  margin-top: 10px;
}

.security_container .security_form button:hover {
  border: 2px solid #fff;
}

.security_container .security_form .security_form__input_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  margin-bottom: 20px;
}

.security_container .security_form .security_form__input_wrapper img {
  position: absolute;
  right: 0;
  bottom: 10px;
  cursor: pointer;
}

.security_container .security_form label {
  margin-bottom: 10px;
  font-size: 16px;
  color: var(--secondary);
}

.security_container .security_form input {
  background-color: transparent;
  outline: none;
  border: none;
  padding-bottom: 10px;
  color: #fff;
  border-bottom: 1px solid #9fa4ae;
}

.security_container .security_form input:focus {
  border-bottom: 1px solid #fff;
}

.purchases_thumbs_container .purchase_thumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 15px;
}

.purchases_thumbs_container .purchase_thumb .thumb_outline_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 1px solid #fff;
  border-radius: 30px;
  padding: 22px;
  padding-left: 15px;
}

@media (max-width: 576px) {
  .purchases_thumbs_container .purchase_thumb .thumb_outline_info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.purchases_thumbs_container .purchase_thumb .thumb_outline_info .thumb_btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 576px) {
  .purchases_thumbs_container .purchase_thumb .thumb_outline_info .thumb_btns {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-top: 15px;
  }
}

.purchases_thumbs_container .purchase_thumb .thumb_outline_info .thumb_btns button {
  width: 120px;
  height: 35px;
  font-size: 16px;
  background-color: transparent;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  border: 1px solid var(--primary);
  border-radius: 10px;
  color: var(--primary);
  margin-bottom: 6px;
}

.purchases_thumbs_container .purchase_thumb .thumb_outline_info .thumb_btns button:hover {
  border: 2px solid #fff;
}

@media (max-width: 576px) {
  .purchases_thumbs_container .purchase_thumb .thumb_outline_info .thumb_btns button {
    width: 100px;
    font-size: 14px;
    margin: 0 5px;
  }
}

.purchases_thumbs_container .purchase_thumb .thumb_outline_info .thumb_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.purchases_thumbs_container .purchase_thumb .thumb_outline_info .thumb_info .thumb_info__img {
  position: relative;
  width: 60px;
  height: 60px;
  margin: 0 7px;
  cursor: pointer;
  background-size: cover;
}

@media (max-width: 576px) {
  .purchases_thumbs_container .purchase_thumb .thumb_outline_info .thumb_info .thumb_info__img {
    width: 40px;
    height: 40px;
    margin: 0 5px;
  }
}

.purchases_thumbs_container .purchase_thumb .thumb_outline_info .thumb_info .cover_thumb_img {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 99;
  width: 60px;
  height: 60px;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.5);
}

.purchases_thumbs_container .purchase_thumb .thumb_outline_info .thumb_info .cover_thumb_img p {
  font-size: 20px;
  color: var(--primary);
  margin-left: 0;
}

@media (max-width: 576px) {
  .purchases_thumbs_container .purchase_thumb .thumb_outline_info .thumb_info .cover_thumb_img {
    width: 40px;
    height: 40px;
  }
}

.purchases_thumbs_container .purchase_thumb .thumb_outline_info .thumb_info p {
  margin-left: 10px;
  font-size: 24px;
  color: var(--primary);
  margin-bottom: 0;
}

@media (max-width: 576px) {
  .purchases_thumbs_container .purchase_thumb .thumb_outline_info .thumb_info p {
    font-size: 16px;
  }
}

.order_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.order_info p {
  color: var(--secondary);
  font-size: 18px;
  font-weight: 300;
}

.purchases_info {
  border: 1px solid var(--primary);
  border-radius: 20px;
  padding: 14px;
  position: relative;
}

.purchases_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.purchase_btns {
  margin-top: 40px;
  -ms-flex-item-align: start;
      align-self: flex-start;
  max-width: 120px;
}

.purchase {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.purchase button {
  width: 120px;
  height: 35px;
  font-size: 16px;
  background-color: transparent;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  border: 1px solid var(--primary);
  border-radius: 10px;
  color: var(--primary);
  margin-bottom: 6px;
}

.purchase button:hover {
  border: 2px solid #fff;
}

.thick-border {
  border: 2px solid #fff !important;
}

.purchase_info {
  width: 596px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 1px solid var(--primary);
  border-radius: 20px;
  padding: 14px 31px 22px 45px;
  margin-right: 5px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.purchase_info .purchase_img {
  width: 40px;
  height: 40px;
  margin-right: 5px;
}

.purchase_info .seller_img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.purchase_info .purchase_info__price {
  font-size: 24px;
  color: var(--primary);
}

.purchase_info p {
  font-size: 14px;
  color: var(--secondary);
}

.purchase_info .purchase_desc_text {
  max-height: 63px;
  overflow: hidden;
  -webkit-transition: max-height 0.5s cubic-bezier(0, 1, 0, 1);
  transition: max-height 0.5s cubic-bezier(0, 1, 0, 1);
}

.purchase_info .purchase_desc_full_text {
  max-height: 1000px;
  -webkit-transition: max-height 250ms ease-in-out;
  transition: max-height 250ms ease-in-out;
}

.purchase_info .purchase_info__desc {
  max-width: 250px;
}

.purchase_info .purchase_info__desc h3 {
  font-size: 18px;
  color: var(--primary);
}

.purchase_total {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 25px;
  width: 100%;
  max-width: 516px;
}

.purchase_total p {
  margin-bottom: 0;
  color: var(--primary);
}

.purchase_total p:first-child {
  font-size: 24px;
}

.purchase_total a {
  color: var(--primary) !important;
  text-decoration: underline !important;
  font-size: 14px;
  cursor: pointer;
}

.ads {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px solid #fff;
  padding: 15px;
  border-radius: 30px;
}

.ads .ad {
  width: 230px;
  height: 99px;
  border-radius: 26px;
  background-image: url("../assets/images/banner.png");
  background-size: contain;
}

.seller__img {
  min-width: 40px;
  height: 40px;
  border-radius: 50%;
  background-size: cover;
  position: relative;
}

.seller__img-bronze {
  min-width: 40px;
  height: 40px;
  border-radius: 50%;
  background-size: cover;
  position: relative;
}

.seller__img-bronze::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 50px;
  padding: 3px;
  background: linear-gradient(45deg, #c28d6f 17.71%, #e9c58f 47.92%, #94561d 69.27%, #9f7249 89.58%, #c1976f 100%);
  -webkit-box-shadow: -1px -3px 4px rgba(255, 196, 81, 0.3), 1px 3px 4px rgba(255, 196, 81, 0.3), 0px 4px 4px rgba(0, 0, 0, 0.5);
          box-shadow: -1px -3px 4px rgba(255, 196, 81, 0.3), 1px 3px 4px rgba(255, 196, 81, 0.3), 0px 4px 4px rgba(0, 0, 0, 0.5);
  -webkit-mask: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff)) content-box, -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff));
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
}

.nav_user_img {
  min-width: 28px;
  height: 28px;
  border-radius: 50%;
  background-size: contain;
  position: relative;
  margin-right: 7px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.nav_seller_img {
  min-width: 28px;
  height: 28px;
  border-radius: 50%;
  background-size: contain;
  position: relative;
  margin-right: 7px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35);
}

.nav_seller_img::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 50px;
  padding: 2px;
  background: linear-gradient(45deg, #b0b4bd 17.71%, #f7f9ff 47.92%, #54575f 81.77%, #c9cacb 100%);
  -webkit-box-shadow: -1px -3px 4px rgba(216, 221, 231, 0.3), 1px 3px 4px rgba(216, 221, 231, 0.3), 0px 4px 4px rgba(0, 0, 0, 0.5);
          box-shadow: -1px -3px 4px rgba(216, 221, 231, 0.3), 1px 3px 4px rgba(216, 221, 231, 0.3), 0px 4px 4px rgba(0, 0, 0, 0.5);
  -webkit-mask: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff)) content-box, -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff));
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
}

.seller__img-silver {
  min-width: 40px;
  height: 40px;
  border-radius: 50%;
  background-size: contain;
  position: relative;
}

.seller__img-silver::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 50px;
  padding: 3px;
  background: linear-gradient(45deg, #b0b4bd 17.71%, #f7f9ff 47.92%, #54575f 81.77%, #c9cacb 100%);
  -webkit-box-shadow: -1px -3px 4px rgba(216, 221, 231, 0.3), 1px 3px 4px rgba(216, 221, 231, 0.3), 0px 4px 4px rgba(0, 0, 0, 0.5);
          box-shadow: -1px -3px 4px rgba(216, 221, 231, 0.3), 1px 3px 4px rgba(216, 221, 231, 0.3), 0px 4px 4px rgba(0, 0, 0, 0.5);
  -webkit-mask: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff)) content-box, -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff));
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
}

.seller__img-gold {
  min-width: 40px;
  height: 40px;
  border-radius: 50%;
  background-size: contain;
  position: relative;
}

.seller__img-gold::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 50px;
  padding: 3px;
  background: linear-gradient(45deg, #fff9ef 3.65%, #f3ce70 17.71%, #fdf4d6 65.39%, #e3cc54 100%);
  -webkit-box-shadow: 1px 3px 4px rgba(255, 242, 125, 0.3), -1px -3px 4px rgba(255, 242, 125, 0.3), 0px 4px 4px rgba(0, 0, 0, 0.5);
          box-shadow: 1px 3px 4px rgba(255, 242, 125, 0.3), -1px -3px 4px rgba(255, 242, 125, 0.3), 0px 4px 4px rgba(0, 0, 0, 0.5);
  -webkit-mask: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff)) content-box, -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff));
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
}

.messages {
  width: 100%;
  max-width: 760px;
  margin: 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.messages .message {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 120px;
  border-radius: 30px;
  border: 1px solid var(--primary);
  margin-bottom: 16px;
  padding: 17px;
}

.messages .message p {
  margin-bottom: 0;
}

.messages .message .message_seller {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
  margin-right: 15px;
}

.messages .message .message_seller p {
  color: var(--primary);
}

.messages .message .message_text {
  max-width: 450px;
}

.messages .message .message_text h3 {
  color: var(--primary);
  font-size: 18px;
}

.messages .message .message_text p {
  font-size: 14px;
  color: var(--secondary);
}

.messages .message .message_date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.messages .message .message_date span {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--secondary);
  margin-right: 11px;
}

.messages .message .message_date p {
  font-size: 18px;
  color: var(--secondary);
}

@media (max-width: 1250px) {
  .ads {
    display: none;
  }
  .purchase_info {
    width: 490px;
    padding: 15px;
  }
  .purchase button {
    width: 100px;
    font-size: 12px;
  }
  .purchase_btns {
    width: 100px;
  }
  .messages {
    max-width: none;
  }
}

@media (max-width: 992px) {
  .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .side_panel {
    margin-bottom: 50px;
  }
  .main_content_container {
    width: 100%;
    margin: 0;
  }
  .messages {
    margin: 0;
  }
  .message .message_date {
    position: absolute;
    top: 10px;
    right: 10px;
  }
  .messages-chat {
    margin: 0 !important;
  }
}

@media (max-width: 330px) {
  .purchase_info .seller_img {
    width: 30px;
    height: 30px;
  }
}

.messages .active-message .message_text p {
  color: var(--primary);
}

.messages .active-message .message_date span {
  background-color: var(--primary);
}

.message-editor {
  top: 12px;
  padding: 23px 37px;
  left: 14px;
  border: 1px solid white;
  width: 520px;
  height: 470px;
  position: absolute;
  border-radius: 15px;
  background: linear-gradient(135deg, #2f2f30, #111214, #000);
}

.message-editor button {
  width: 135px;
  height: 35px;
  display: block;
  margin: 18px auto 0;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 10px;
  color: #fff;
}

.message-editor button:hover {
  border: 2px solid #fff;
}

.message-editor textarea {
  border-radius: 30px;
  margin-top: 15px;
  width: 100%;
  background-color: transparent;
  color: #fff;
  height: 248px;
  resize: none;
  padding: 20px;
  overflow: auto;
}

.message-editor textarea:focus {
  outline: none;
}

.message-top-info {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.message-top-info .message-receiver img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.message-top-info .message-receiver {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 48px;
}

.message-top-info .message-receiver p {
  margin-left: 13px;
  color: var(--secondary);
  margin-bottom: 0;
  font-size: 18px;
}

.message-top-info .message-rate {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.message-top-info .message-rate img {
  opacity: 0.6;
  width: 27px;
  height: 27px;
  cursor: pointer;
}

.message-top-info .message-date p {
  margin-bottom: 0;
  color: var(--secondary);
  font-size: 10px;
  text-align: right;
}

.messages-chat {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 756px;
  margin: 0 10px;
  padding: 10px;
  border-radius: 30px;
  border: 1px solid #fff;
}

.messages-chat .message-send-control {
  justify-self: flex-end;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.messages-chat .message-send-control input {
  width: 70%;
  border-radius: 10px;
  border: 1px solid #fff;
  padding: 5px 15px;
  outline: none;
  background-color: transparent;
  color: var(--primary);
  margin-right: 10px;
}

.messages-chat .message-send-control button {
  width: 115px;
  height: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  border: 1px solid #fff;
  font-size: 16px;
  background-color: transparent;
  border-radius: 10px;
}

.messages-chat .message-send-control button:hover {
  border: 2px solid #fff;
}

.messages-chat .chat-date {
  text-align: center;
  font-size: 18px;
  color: var(--secondary);
  margin-top: 11px;
}

.messages-chat .message {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-right: 20px;
}

.messages-chat .message .message-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.messages-chat .message .message-info img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.messages-chat .message .message-text-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 16px;
}

.messages-chat .message .message-text-info p {
  color: var(--secondary);
  font-size: 16px;
  margin-bottom: 0;
  max-width: 405px;
}

.messages-chat .message .message-text-info .message-sender-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
}

.messages-chat .message .message-text-info .message-sender-info p {
  margin-bottom: 0;
  color: var(--secondary);
}

.messages-chat .message .message-text-info .message-sender-info div {
  height: 8px;
  width: 8px;
  background-color: var(--primary);
  border-radius: 50%;
  margin: 0 5px;
}

.messages-chat .message .message-text-info .message-sender-info h3 {
  color: var(--primary);
  font-size: 18px;
  margin-bottom: 0;
}

.message-status {
  height: 33px;
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 576px) {
  .purchases_info {
    border: none;
  }
  .purchase_info .purchase_img {
    width: 40px;
    height: 40px;
  }
  .order_info p {
    font-size: 14px;
  }
  .purchase_info {
    padding: 10px;
  }
  .purchase_info .seller_img {
    width: 30px;
    height: 30px;
  }
  .purchase_info .purchase_info__desc {
    max-width: 150px;
    margin: 0 5px;
  }
}

@media (max-width: 576px) and (max-width: 330px) {
  .purchase_info .purchase_info__desc {
    max-width: 120px;
  }
}

@media (max-width: 576px) {
  .purchase_info .purchase_info__desc h3 {
    font-size: 14px;
  }
  .purchase_info .purchase_info__price {
    font-size: 14px;
    margin-right: 5px;
  }
  .purchases_info {
    padding: 0;
  }
  .messages .message .message_text h3 {
    font-size: 16px;
  }
  .messages .message .message_date p {
    font-size: 16px;
  }
  .message-editor {
    width: 99%;
    left: 0;
    padding: 40px 10px 10px;
  }
  .message-editor .message-top-info .message-receiver img {
    width: 30px;
    height: 30px;
  }
  .message-editor .message-top-info .message-rate img {
    width: 15px;
    height: 15px;
  }
  .message-editor .message-top-info .message-receiver p {
    margin-left: 5px;
  }
  .messages-chat {
    margin: 0;
  }
  .messages-chat .message .message-info img {
    width: 40px;
    height: 40px;
  }
}

#message-modal-close {
  position: absolute;
  width: 15px;
  height: 15px;
  right: -25px;
  top: -10px;
  cursor: pointer;
}

@media (max-width: 576px) {
  #message-modal-close {
    right: 5px;
    top: -30px;
  }
}

#message-modal-close:hover {
  opacity: 0.7;
}

.wallet_form {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 535px;
  padding: 60px;
  margin: 0 auto;
  width: 90%;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 30px;
}

@media (max-width: 1150px) {
  .wallet_form {
    position: relative;
  }
}

@media (max-width: 576px) {
  .wallet_form {
    padding: 20px;
  }
}

.wallet_form p {
  font-size: 24px;
  color: #fff;
  margin-bottom: 0;
}

@media (max-width: 576px) {
  .wallet_form p {
    font-size: 16px;
  }
}

.wallet_form p:nth-child(2) {
  margin-bottom: 20px;
}

.wallet_form .wallet_balance {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
}

.wallet_form input {
  width: 100%;
  height: 40px;
  color: #fff;
  font-size: 18px;
  outline: none;
  border: none;
  background-color: transparent;
  border-bottom: 2px solid var(--secondary);
}

.wallet_form input:focus {
  border-bottom: 2px solid var(--primary);
}

.wallet_form label {
  font-size: 10px;
  color: var(--secondary);
}

.wallet_form .address-to-pay {
  position: relative;
  margin-bottom: 16px;
}

.wallet_form .address-to-pay img {
  position: absolute;
  right: 0;
}

.wallet_form button {
  margin-top: 30px;
  height: 40px;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  color: #fff;
}

.wallet_form button:hover {
  border: 2px solid #fff;
}

.side_panel .active-side-item path {
  fill: var(--primary);
}

.side_panel .active-side-item a {
  color: #fff !important;
}
/*# sourceMappingURL=styles.css.map */